.productArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 2%;
}
.paginationBar{
    margin-left: 40%;
    margin-top: 5%;
}
.phoneSearchForm{
     width: 80%;
    margin: 2% 0 3% 5%;
}
@media (max-width: 1000px) {
    .phoneSearchForm{
        margin: 20% 0 8% 10%;
    }
    }