.emptyMsg{
    width: 60%;
    margin-left: 17%;
    margin-top: 5%;
}
.cartArea{
    display: flex;
}
.cartPdZone{
    width: 80%;
}
.rightArea{
    width: 18%;
    margin-top: 2%;
}
.totalZone{
    height: 250px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    padding-top: 2%;
    margin-bottom: 5%;
}
#checkoutBtn{
    padding: 4% 15%;
}
.continueText{
    color: rgb(255, 190, 11);
}
.continueText:hover{
    text-decoration: none;
    color: darkorange;
}

@media (max-width: 1000px) {
    .cartArea{
        display: block;
        margin-top: 80px;
    }
    .cartPdZone{
        width: 100%;
    }
    .rightArea{
        width: 95%!important;
        margin-top: 20px!important;
    }
    .totalZone{
        height: 250px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 10px;
        padding-top: 2%;
        margin-bottom: 5%;
    }
    #checkoutBtn{
        padding: 4% 15%;
    }
    .continueText{
        color: rgb(255, 190, 11);
    }
    .continueText:hover{
        text-decoration: none;
        color: darkorange;
    }
    }