.detailsArea{
    display: flex;
    margin: 3% 3% 0 3%;
    width: 95%;
}
.imgContainer{
    height: 580px;
    width: 550px;
    z-index: 5;
}
.textContainer{
    margin-left: 1%;
    padding: 2%;
    color: rgb(94, 94, 94);
    width: 50%;
}
#pdName{
    font-size: x-large;
    font-weight: 600;
}
#description{
    font-size: large;
}
.financeSection{
    border-top: 1px solid rgb(190, 186, 186);
    padding: 2%;
}
#finance{
    color: rgb(212, 45, 45);
    font-weight: 600;
}
#stock{
    color: coral;
}
.similar{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 15%;
}
#related{
    font-size: larger;
    color: rgb(56, 70, 83);
}
.infoCard{
    height: 470px;
    width: 250px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
}
.qty{
    margin-left: 30%;
}
#qtyTitle{
    margin-top: 3%;
    padding: 0;
}
#cardPrice{
    font-weight: 600;
    color: rgb(190, 107, 107);
    font-size: large;
}
#cardShip{
    color: rgb(121, 121, 121);
    margin-top: -10%;
}
#secure{
    border-radius: 5px;
    padding: 2px;
    margin-left: 15px;
    background-color: rgb(221, 212, 230);
}
.manufacture{
    font-size: small;
    color: rgb(116, 119, 118);
}
.cartBtn{
    border: none;
    border-radius: 25px;
    background-color: rgb(98, 171, 240);
    font-size: small;
    padding: 4% 25%;
    margin-bottom: 30%;
    margin-top: 10%;
    margin-left: 5%;
    color:white
}
.cartBtn:active{
    outline: none;
    background-color: rgb(31, 126, 235);
}
.reviewContainer{
    padding: 2%;
    width: 50%;
    background-color: rgb(248, 248, 248);
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#reviewHeadline{
    font-size: large;
    color: rgb(87, 85, 85);
    font-weight: 700;
}
.reviewBox{
    width: 700px;
    display: flex!important;
    flex-direction: column;
    align-items: flex-start;
}
.reviewTextBox{
    width: 400px!important;
}
.imgContainerPhone{
    display: none;
}

@media (max-width: 1000px) {
    .detailsArea{
        display: block;
        margin: 3% 3% 0 1%;
        width: 95%;
    }
    .imgContainer{
        display: none;
    }
    .imgContainerPhone{
        display: block;
        height: 370px;
        width: 360px;
        z-index: 5;
    }
    .textContainer{
        padding: 0;
        width: 100%;
        font-size: small;
    }
    #pdName{
        font-size:large;
    }
    #description{
        font-size: medium;
    }
    .similar{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;
    }
    .infoCard{
        height: 470px;
        width: 95%;
        margin-left: 4%;
        display: block;
        padding: 3%;
    }
    .qty{
        margin-left: 5%;
    }
    #qtyTitle{
        margin-right: -150px;
    }
    #cardPrice{
        color: rgb(51, 159, 185);
    }
    #cardShip{
        margin-top: 0;
    }
    #secure{
        margin-left: 0;
    }
    .toastBox{
        margin-left: 5%!important;
    }
   
    .reviewContainer{
        width: 100%;
        margin: 5% 0 2% 0;
    }
    .reviewBox{
        width: 350px;
        margin-left: 1%;
    }
    .reviewTextBox{
        width: 300px!important;
    }
    }
