.carousel-control-next-icon{
    margin-bottom: 150%;
    width: 30px !important;
    height: 70px !important
 }
 
 .carousel-control-prev-icon{
     margin-bottom:150%;
     width: 30px !important;
     height: 70px !important;
  }
  .car{
      mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
    
  }
  /* @media (max-width: 600px) {
    
    } */